* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 87px;
}

.main {
  display: flex;
  gap: 48px;
  width: 920px;
  height: 481px;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
}

.form1 {
  width: 379px;
  height: 388px;
  display: flex;
  flex-direction: column;
  margin: 45px 0 48px 48px;
  gap: 40px;
}

label {
  display: flex;
  flex-direction: column;
  color: #5E7A7D;
  font-size: 16px;
  gap: 6px;
}

input {
  border: none;
  width: 379px;
  height: 48px;
  border-radius: 5px;
  background: #F3F9FA;
  font-family: 'Space Mono';
  color: #00474B;
  text-align: right;
  font-size: 24px;
  padding: 0 17px;
}

input:focus {
  outline: none;
  border: 2px solid #26C2AE;
}

input:hover,
button:hover {
  cursor: pointer;
}

#buttons {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin-top: 10px;
}

button {
  border: none;
  font-family: 'Space Mono';
  text-align: center;
  height: 48px;
  border-radius: 5px;
}

#tip-button {
  width: 117px;
  background: #00474B;
  color: #FFF;
  font-size: 24px;
}

#tip-button:hover {
  color: #00474B;
  background: #9FE8DF;
}

#inp {
  background-image: url(./dollar.svg);
  background-repeat: no-repeat;
  background-position: center left 17px;
}

#ppl {
  background-image: url("./icon-person.svg");
  background-repeat: no-repeat;
  background-position: center left 17px;
}

.lbl {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: #E17457;
  text-align: right;
  font-size: 16px;
}

.error {
  border: 2px solid #E17052;
}

.form2 {
  width: 413px;
  height: 417px;
  border-radius: 15px;
  background: #00474B;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 32px 32px 32px 0;
  padding: 40px;
}

.res {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 333px;
  height: 71px;
}

.smth {
  color: white;
  display: flex;
  flex-direction: column;
}

span {
  color: #7F9D9F;
  /* Dark grayish cyam */
}

p {
  color: hsl(172, 67%, 45%);
  font-size: 48px;
  /*Strong cyam */
}

#reset {
  width: 333px;
  background: #26C2AE;
  color: #00474B;
  font-size: 20px;
  margin-top: 97px;
}

#reset:hover {
  background: #9FE8DF;
}

@media screen and (max-width:908px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
  }

  img {
    margin-top: 40px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 375px;
    height: 789px;
  }

  .form1 {
    width: 311px;
    height: 467px;
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
    gap: 32px;
  }

  input {
    width: 311px;
    height: 48px;
  }

  #buttons {
    gap: 16.56px;
  }

  #tip-button {
    width: 146.631px;
  }

  .form2 {
    width: 327px;
    height: 257px;
    gap: 21px;
    margin: 0 24px 32px 24px;
    padding: 22px;
  }

  .res {
    width: 281px;
    height: 48px;
  }

  p {
    font-size: 32px;
    letter-spacing: -0.667px;
  }

  #reset {
    width: 281px;
    margin-top: 12px;
  }
}